".source.dominions":
    "selectweapon":
        prefix: "selectweapon"
        body: """
        #selectweapon ${1:0}
            $2
        #end
        """

    "newweapon":
        prefix: "newweapon"
        body: """
        #newweapon${1}
            #name ${2:"Weapon Name"}
        #end
        """

    "selectarmor":
        prefix: "selectarmor"
        body: """
        #selectarmor ${1:0}
            $2
        #end
        """

    "newarmor":
        prefix: "newarmor"
        body: """
        #newweapon${1}
            #name ${2:"Armor Name"}
        #end
        """

    "selectmonster":
        prefix: "selectmonster"
        body: """
        #selectmonster ${1:0}
            $2
        #end
        """

    "newmonster":
        prefix: "newmonster"
        body: """
        #newmonster${1}
            #name ${2:"Monster Name"}
            #descr ${3:"Monster Description"}
            #gcost ${4:10000}
            #rpcost ${5:0}
        #end
        """

    "selectspell":
        prefix: "selectspell"
        body: """
        #selectspell ${1:0}
            $2
        #end
        """

    "newspell":
        prefix: "newspell"
        body: """
        #newspell ${1:0}
            #name ${2:"Spell Name"}
            #descr ${3:"Spell Description"}
            #school ${4:-1}
            #researchlevel ${5:0}
            #path ${6:0} ${7:-1}
            #pathlevel ${6:0} ${8:-1}
        #end
        """

    "selectitem":
        prefix: "selectitem"
        body: """
        #selectitem ${1:0}
            $2
        #end
        """

    "newitem":
        prefix: "newitem"
        body: """
        #newmonster ${1:0}
            #name ${2:"Item Name"}
            #descr ${3:"Item Description"}
            #constlevel ${4:0}
            #mainpath ${5:0}
            #mainlevel ${6:0}
        #end
        """

    "selectsite":
        prefix: "selectsite"
        body: """
        #selectsite ${1:0}
            $2
        #end
        """

    "newsite":
        prefix: "newsite"
        body: """
        #newsite ${1:0}
            #name ${2:"Item Name"}
            #path ${3:0}
            #level ${4:0}
            #rarity ${5:0}
            #loc ${6:223}
        #end
        """

    "newevent":
        prefix: "newevent"
        body: """
        #newevent
            #msg ${1:""}
        #end
        """
